.App {
  text-align: center;
}
#navbutton{
  border-bottom: 2px solid rgb(247, 247, 247);

}
#navbutton:hover{
  border-color: rgb(24, 93, 230);
  color: rgb(24, 93, 230);
}

#facebook:hover{
  cursor: pointer;
}

#collegelogo{
  width: 30%;
  cursor: pointer;
}

#footeralign1{
  margin-left: 5%;
  text-align: justify;
  cursor: pointer;
}
#footeralign{
  /* margin-left: 5%; */
  text-align: justify;
  cursor: pointer;
}

#disaster{
margin-left: 35%;
}
#quicklinks{
  color: white;
}
#quicklinks:hover{
color: rgb(9, 177, 238);
transition: 0.3s;
}

#services:hover{
  color: rgb(238, 9, 108);
  transition: 0.3s;
  }

@media (max-width: 768px) {
  #collegelogo {
      width: 50%; /* Adjust the width for mobile */
  }
  #footeralign{
    text-align:unset;
  }
  #footeralign1{
    text-align:unset;
    margin-left: -1%;
  }
  #disaster{
    margin-left: 5%;
  }
}

#counterslide{
  width: 70%;
  margin-left: 15%;
}
@media (max-width: 768px) {
  #counterslide{
  width: 100%;
  margin-left: 0%;
  }
}

.animated-image {
  transition: transform 0.4s ease-in-out; /* Specify the transition property */
  box-shadow: 5px 5px 10px rgba(167, 167, 167, 0.2);
}

.animated-image:hover {
  background-color: rgb(245, 247, 249);
  transform: scale(1.1); /* Apply the scaling effect on hover */
  cursor: pointer;
  /* transition-delay:0.2s; */
  transition-property: all;
}
